<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Hand Coded SVG</title>
        <style>
            html,
            body {
                height: 100%;
                width: 100%;
                background: #fff;
                padding: 20px;
                box-sizing: border-box;
            }
            .gone {
                display: none;
            }
        </style>
    </head>

    <body>
        <div>
            <a href="rolling">
                上下自动滚动
            </a>
        </div>
        <div>
            <a href="swiper">手动滑屏</a>
        </div>
    </body>
</html>
